{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Aix Avionics{% endblock %}

{% block body %}
<body class="hold-transition login-page">

    <div class="text-center"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost}}/img/logo_moyen.png" style="margin-top:50px;"  /></div>
</body>
{% endblock body %}
